---
// import type { GetStaticPaths } from "astro";
// export function getStaticPaths() {
//   return [{ params: "one" }];
// }
import Layout from "../../layouts/Layout.astro";
const { user } = Astro.params
// console.log(id)
import getUser from "../../services/getUser";
const dataEntire = await getUser(String(user));
const data = dataEntire.data;
// console.log("xd", data);
---

<Layout title={String(user)}>
  <h2>
    {
      data !== undefined ? (
        <div>
          <div class="uppercase mx-auto mt-10 w-28 h-28 text-2xl bg-rose-500 grid place-content-center font-bold rounded-full">
            {data.name.split("")[0]}
          </div>
          <h2 class="text-3xl capitalize mx-auto w-fit mt-5 font-semibold">
            {data.name}
          </h2>
          <h2 class="text-lg mx-auto w-fit mb-10">{data.username}</h2>
          <button
            id="button-add"
            class="bg-teal-500 font-semibold rounded-full py-3 mt-5 mx-10 p-4 flex mb-5"
          >
            add Collection +
          </button>
          <div class="flex gap-10 px-10">
            {data.collections.map((element) => {
              return (
                <a
                  href={`/${user}/${element.name.replace(" ", "-")}/${element._id}`}
                  class="flex flex-col "
                >
                  <div class="flex gap-1 rounded-xl overflow-hidden ring-1 ring-neutral-200 shadow-lg h-[164px]">
                    <div>
                      {element.images.slice(0, 3).map((e, i) => {
                        if (i === 0) {
                          return <img class="h-full" src={e.preview_url} />;
                        }
                      })}
                    </div>
                    <div class="h-fit flex flex-col gap-1">
                      {element.images.slice(0, 3).map((e, i) => {
                        if (i !== 0) {
                          return (
                            <img
                              class={`object-cover w-20 h-20`}
                              src={e.preview_url}
                            />
                          );
                        }
                      })}
                    </div>
                  </div>
                  <div class="flex flex-col gap-1">
                    <p class="font-semibold capitalize text-xl mt-2">
                      {element.name}
                    </p>
                    <p class="text-sm">
                      {String(element.images.length)} images
                    </p>
                  </div>
                </a>
              );
            })}
          </div>
        </div>
      ) : (
        <div>loading</div>
      )
    }
  </h2>
</Layout>
<script is:inline>
  const addButton = document.querySelector("#button-add");
  addButton.addEventListener("click", () => {
    const name_new_gallery = prompt("nombre de la nueva galeria :D");
    if (name_new_gallery) {
      (async () => {
        const response = await fetch(
          "http://localhost:3000/api/user/collections",
          {
            method: "POST",
            credentials: "include",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ name: name_new_gallery }),
          }
        );
        const data = await response.json();
        alert(data.message);
        localStorage.setItem("user", JSON.stringify(data.dat));
        window.location.reload();
        console.log(data);
      })();
    }
  });
</script>
